.container
{
    background-color: #fff;
    width: 400px;
    height: 450px;
    margin: -250px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 10px 10px 5px rgb(189, 189, 189);
}
.login 
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    width: 300px;
    height: 400px;
}
.login h1 
{
    color: #9FA7DC;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0,.3);
    letter-spacing: 1px;
    text-align: center;
}
input
{
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0,.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0,.3);
    border: 1px solid rgba(0, 0, 0, 0,.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
}
input:focus 
{
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
/* .bt1
{
    display: inline-block;
    margin-right: auto;
    width: 100px;
} */
.bt2 
{
    display: inline-block;
    width: 100%;
    background-color: #6876DF;
    /* margin-left: 100px; */
}
h6 
{
    color: rgb(155, 155, 155);
}
.reset
{
    color: rgb(155, 155, 155);
    text-decoration: none;
}
h6
{
    text-align: center;
    margin: 10px 0px 10px 0px;
}
img
{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
.title
{
    margin: 130px 0px 0px 10px;
    text-align: center;
    color: #fff;
}