<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<h5 class="title">Welcome Farmers of the Central Valley!</h5>
<div class="container">
    <div class="login">
        <img src="../../assets/img/Logo.png">
        <h1>Login</h1>
        <h6>Sign into your account</h6>
        <form>
            <input type="text" placeholder="&#xF007; Username" style="font-family:Arial, FontAwesome" />
            <input type="password" placeholder="&#xf0a4; Password" style="font-family:Arial, FontAwesome" />
            <!-- <button type="submit" class="btn btn-primary btn-block btn-large bt1" > Reset </button> -->
            <button type="submit" class="btn btn-primary btn-block btn-large bt2" (click)="btnClick()" > Login In </button>
            <h6> Register New Account </h6> 
            <h6> Forgot Password? <a class="reset" href="">Click to reset</a> </h6>
        </form>
    </div>
</div>