<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>FarmersoftheCentralvalley</title>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FarmersoftheCentralvalley</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../interface/interface.component.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- top navigation bar -->

    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5">sub example</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-dark h-100">
              <div class="card-body py-5">Sub example2</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body py-5">Sub example3</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
              <div class="card-body py-5">Sub example 4</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Example 1
              </div>
              <div class="card-body">
                  fdf
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Example 2
              </div>
              <div class="card-body">
                sa
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Example 3
                </div>
                <div class="card-body">
                  xc
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  Example 4
                </div>
                <div class="card-body">
                  fg
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="card">
                <div class="card-header">
                  <span><i class="bi bi-table me-2"></i></span> Current Employees
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="example"
                      class="table table-striped data-table"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Position</th>
                          <th>Office</th>
                          <th>Age</th>
                          <th>Start date</th>
                          <th>Salary</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Bob Farmer</td>
                          <td>Senior Foreman/Supervisor</td>
                          <td>Fresno Office</td>
                          <td>45</td>
                          <td>2013/10/10</td>
                          <td>$350,800</td>
                        </tr>
                        <tr>
                          <td>Sam Lucas</td>
                          <td>Accountant</td>
                          <td>Dos Palos</td>
                          <td>63</td>
                          <td>2010/07/25</td>
                          <td>$180,750</td>
                        </tr>
                        <tr>
                          <td>David Luke</td>
                          <td>Junior Technician</td>
                          <td>Madera</td>
                          <td>25</td>
                          <td>20015/05/11</td>
                          <td>$86,000</td>
                        </tr>
                        <tr>
                          <td>Billy Jackson</td>
                          <td>Foreman</td>
                          <td>Merced</td>
                          <td>33</td>
                          <td>2012/01/18</td>
                          <td>$153,700</td>
                        </tr>
                        <tr>
                          <td>William Johnson</td>
                          <td>Machinery Specialist</td>
                          <td>Fresno</td>
                          <td>35</td>
                          <td>2009/12/02</td>
                          <td>$252,000</td>
                        </tr>
                        <tr>
                          <td>Harry Potter</td>
                          <td>Sales Assistant</td>
                          <td>Clovis</td>
                          <td>41</td>
                          <td>2010/01/06</td>
                          <td>$222,500</td>
                        </tr>
                        <tr>
                          <td>Mike Felloww</td>
                          <td>Foreman</td>
                          <td>Kerman</td>
                          <td>55</td>
                          <td>2011/11/14</td>
                          <td>$227,900</td>
                        </tr>
                        <tr>
                          <td>Sonic Fast</td>
                          <td>Software Engineer</td>
                          <td>Fresno</td>
                          <td>23</td>
                          <td>2008/12/13</td>
                          <td>$103,600</td>
                        </tr>
                        <tr>
                          <td>Tony Stark</td>
                          <td>Office Manager</td>
                          <td>Fresno</td>
                          <td>30</td>
                          <td>2005/05/12</td>
                          <td>$400,760</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Position</th>
                          <th>Office</th>
                          <th>Age</th>
                          <th>Start date</th>
                          <th>Salary</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
    <!-- <script src="../js/bootstrap.bundle.min.js"></script> -->
    <script src="./js/bootstrap.bundle.min.js"></script>r
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>